<div class="col-4">
    <%= link_to event do %>
        <div class="card">
            <img class="card-img-top" src=<%= event.photo %>>
            <div class="card-body">
                <h5 class="card-title"><%= event.name %></h5>
                <p class="card-text"><%= event.event_date.strftime("%d.%m.%Y") %></p>
            </div>
        </div>
    <% end %>
</div>