<div class="container">
  <%= form_for :date_filter, url: events_path, :html => {:class => 'form-row'} do |form| %>
    <div class="col-4">
      <%= form.label :from %>
      <%= form.date_field :from, as: :date, :value => @from, class: 'form-control' %>
    </div>
    <div class="col-4">
      <%= form.label :to %>
      <%= form.date_field :to, as: :date, :value => @to, class: 'form-control' %>
    </div>
    <div class="col-4" style="margin-bottom: 25px;">
      <%= form.submit "Filter", class: 'btn btn-outline-success', style: 'width: 45%; margin: 0 7%;' %>
      <%= link_to 'Clear', events_path, class: 'btn btn-outline-primary', style: 'width: 35%;'  %>
    </div>
  <% end %>
  <div class="row">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>