
<% if user_signed_in? %>
  <% if !(Time.now.utc.to_date.year - current_user.born.year - ((Time.now.utc.to_date.month > current_user.born.month || (Time.now.utc.to_date.month == current_user.born.month && Time.now.utc.to_date.day >= current_user.born.day)) ? 0 : 1) >= @event.minAge) %>
    <p>You are too young for this event.</p>
  <% end %>
<% end %>  

<div class="crop">
  <img src=<%= @event.photo %> style="width: 100%">
</div>
  
<h2>
  <%= @event.name %>
</h2>

<p>
  <%= @event.description %>
</p>

<p>
  <strong>Minimal age:</strong>
  <%= @event.minAge %>
</p>

<p>
  <strong>Tickets publishing:</strong>
  <%= @event.published %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>


<% if @event.event_date > Time.now && @event.published < Time.now %>
  <%= form_tag( users_order_tickets_path, method: :post) do %>
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Seat</th>
        <th colspan="2">Price</th>
      </tr>
      <% @event.tickets.each do |ticket| %>
        <tr>
          <td>
            <% if user_signed_in? && !ticket.user && (Time.now.utc.to_date.year - current_user.born.year - ((Time.now.utc.to_date.month > current_user.born.month || (Time.now.utc.to_date.month == current_user.born.month && Time.now.utc.to_date.day >= current_user.born.day)) ? 0 : 1) >= @event.minAge) %>
                <%= check_box_tag 'selected_tickets[]', ticket.id -%>
            <% end %>
          </td>
          <td><%= ticket.seat_id %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% end %>
    </table>
    <% if user_signed_in? %>
      <%= submit_tag "Buy", class: 'btn btn-outline-success' %>
    <% end %>
  <% end %>  
<% end %>


<%= link_to 'Back', events_path, class: 'btn btn-outline-warning' %>
