<h1>Refund requests</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Event</th>
        <th>Ticket</th>
        <th>User</th>
        <th>Refund percentage</th>
        <th>Refund</th>
        <th colspan="2"></th>
      </tr>
      <% @refundRequests.each do |refund| %>
        <tr>
            <td><%= link_to refund.ticket.event.name, admins_event_path(refund.ticket.event) %></td>
            <td><%= link_to refund.ticket.seat_id, admins_ticket_path(refund.ticket) %></td>
            <td><%= link_to refund.user.email, admins_user_path(refund.user) %></td>
            <td><%= refund.percents %></td>
            <td><%= refund.price %></td>

            <td><%= link_to 'Verify', admins_verify_refund_path(refund), class: 'btn btn-outline-success', method: :post %></td>
            <td><%= link_to 'Remove', admins_refund_path(refund), method: :delete, 
                                data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<h1>Verified requests</h1>

<div class="container">
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th>Event</th>
          <th>Ticket</th>
          <th>User</th>
          <th>Refund percentage</th>
          <th>Refund</th>
        </tr>
        <% @verifiedRequests.each do |refund| %>
          <tr>
              <td><%= link_to refund.ticket.event.name, admins_event_path(refund.ticket.event) %></td>
              <td><%= link_to refund.ticket.seat_id, admins_ticket_path(refund.ticket) %></td>
              <td><%= link_to refund.user.email, admins_user_path(refund.user) %></td>
              <td><%= refund.percents %></td>
              <td><%= refund.price %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>