<%= form_with(model: user, local: true, url:url) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :encrypted_password, id: :user_encrypted_password, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= form.label :born %>
      <%= form.date_field :born, class: 'form-control' %>
    </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-outline-success' %>
  </div>
<% end %>
