<div class="container">
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
              <td><%= link_to user.email, admins_user_path(user) %></td>
  
              <td><%= link_to 'Edit', edit_admins_user_path(user), class: 'btn btn-outline-warning' %></td>
              <td><%= link_to 'Remove', admins_user_path(user), method: :delete, 
                                  data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  
  