<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Born:</strong>
  <%= @user.born %>
</p>

<%= link_to 'Edit', edit_admins_user_path(@user), class: 'btn btn-outline-primary' %>
<%= link_to 'Back', admins_users_path, class: 'btn btn-outline-warning' %>
