<% if request.fullpath == new_admin_session_path %>
  <div>
    Login: admin@admin.com
    Password: password
  </div>
<% end %>

<% if request.fullpath == new_user_session_path %>
  <div>
    Login: user@user.com
    Password: password
  </div>
<% end %>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me, class: 'form-control' %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
