<h1>My incoming events</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Event</th>
      </tr>
      <% @incomingEvents.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
        </tr> 
      <% end %>
    </table>
  </div>
</div>

<h1>My expired events</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Event</th>
      </tr>
      <% @expiredEvents.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
        </tr>      
      <% end %>
    </table>
  </div>
</div>

