<%= form_with(model: ticket, local: true, url:url) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :seat_id %>
    <%= form.text_field :seat_id, id: :ticket_seat_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :ticket_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :ticket_user_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :ticket_event_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-outline-success'  %>
  </div>
<% end %>
