<div class="btn-add">
    <%= link_to 'New ticket', new_admins_ticket_path, class: 'btn btn-lg btn-primary' %>
</div>

<h1>Active tickets</h1>

<div class="container">
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th>Seat</th>
          <th>Event</th>
          <th>Price</th>
          <th colspan="3">User</th>
        </tr>
        <% @activeTickets.each do |ticket| %>
          <tr>
              <td><%= link_to ticket.seat_id, admins_ticket_path(ticket) %></td>
              <td><%= link_to ticket.event.name, admins_event_path(ticket.event) %></td>
              <td><%= ticket.price %></td>
              <% if ticket.user.nil? %>
                <td><%= ticket.user %></td>
              <% else %>
                <td><%= ticket.user.email %></td>
              <% end %>
              <td><%= link_to 'Edit', edit_admins_ticket_path(ticket), class: 'btn btn-outline-warning' %></td>
              <td><%= link_to 'Remove', admins_ticket_path(ticket), method: :delete, 
                                  data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <h1>Expired tickets</h1>
  
  <div class="container">
    <div class="row">
      <table class="table table-striped">
        <tr>
          <th>Seat</th>
          <th>Event</th>
          <th>Price</th>
          <th colspan="3">User</th>
        </tr>
        <% @expiredTickets.each do |ticket| %>
          <tr>
              <td><%= link_to ticket.seat_id, admins_ticket_path(ticket) %></td>
              <td><%= link_to ticket.event.name, admins_event_path(ticket.event) %></td>
              <td><%= ticket.price %></td>
              <% if ticket.user.nil? %>
                <td><%= ticket.user %></td>
              <% else %>
                <td><%= ticket.user.email %></td>
              <% end %>
              <td><%= link_to 'Edit', edit_admins_ticket_path(ticket), class: 'btn btn-outline-warning' %></td>
              <td><%= link_to 'Remove', admins_ticket_path(ticket), method: :delete, 
                                  data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  
  
  
  