<h1>New Ticket</h1>

<%= render 'form', ticket: @ticket, url: admins_tickets_url %>

<% if @ticket.event_id.nil? %>
    <%= link_to 'Back', admins_tickets_path, class: 'btn btn-outline-warning' %>
<% else %>
    <%= link_to 'Back', admins_event_path(@ticket.event_id), class: 'btn btn-outline-warning' %>
<% end %>
