<p>
  <strong>Seat:</strong>
  <%= @ticket.seat_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.name %>
</p>

<%= link_to 'Edit', edit_admins_ticket_path(@ticket), class: 'btn btn-outline-primary' %>
<%= link_to 'Back', admins_tickets_path, class: 'btn btn-outline-warning' %>
