 @import "bootstrap";

.app-top{
  background-color: #0b6eeb;
  color: white;
  padding: 20px 0;
}

.app-content{
    margin: 20px 20% 0 20%;
    padding-bottom: 20px;
}
  
.navbar{
  background-color: inherit;
  height: inherit;
  margin: 0 20%;
  justify-content:flex-start; 
}

.app-navbar{
  margin: 20px 20%;
}

.navbar-brand{
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.app-navbar-button {
  vertical-align: bottom;
  color: white;
  border-color: white;
  background-color: #0b6eeb;
  margin: 0 3px;
}
.app-navbar-button:active,
.app-navbar-button:visited,
.app-navbar-button:link,
.app-navbar-button:focus
{
  color: white;
  border-color: white;
  background-color: #0b6eeb;
}
.app-navbar-button:hover{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

.app-navbar-button-selected{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}
.app-navbar-button-selected:active,
.app-navbar-button-selected:visited,
.app-navbar-button-selected:link,
.app-navbar-button-selected:focus,
.app-navbar-button-selected:hover
{
  color: #0b6eeb;
  border-color: #0b6eeb;
  background-color: white;
}

h1, h2{
  color: #0a62d1;
}

th{
  font-size: 20px;
}

td{
  font-size: 18px;
}

.card-img-top{
  height: 160px;
}

.card{
  margin-bottom: 30px;
}
.card:hover{
  border-style: solid;
  border-color: #0b6eeb;
  box-shadow: 0px 0px 18px #0b6eeb;
}

.card-text{
  color: black;
}

.form-control{
  display: inline-block;
  width: auto;
}

.btn-add{
  text-align: right;
  margin: 0 25px;
}

.crop{
  display: inline-block;
  height: 215px;
  width: 100%;
  overflow: hidden;

  margin-bottom: -50px;
}

.crop img{
  margin-top: -15%;
  width: 100%;
}