<tr>
    <td><%= link_to event.name, admins_event_path(event) %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_admins_event_path(event), class: 'btn btn-outline-warning' %></td>
    <td><%= link_to 'Remove', admins_event_path(event), method: :delete, 
                        data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
</tr>