<%= form_with(model: event, local: true, url:url) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :event_photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :minimal_age %>
    <%= form.number_field :minAge, id: :event_minAge, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tickets_publishing %>
    <%= form.date_field :published, id: :event_published, :include_blank => true, class: 'form-control' %>

  </div>

  <div class="form-group">
    <%= form.label :event_date %>
    <%= form.date_field :event_date, id: :event_event_date, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-outline-success' %>
  </div>
<% end %>
