<div class="btn-add">
    <%= link_to 'New event', new_admins_event_path, class: 'btn btn-lg btn-primary' %>
</div>

<h1>Incoming events</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th colspan="4">Event</th>
      </tr>
      <% @incomingEvents.each do |event| %>
          <%= render event %>
      <% end %>
    </table>
  </div>
</div>

<h1>Expired events</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th colspan="4">Event</th>
      </tr>
      <% @expiredEvents.each do |event| %>
          <%= render event %>
      <% end %>
    </table>
  </div>
</div>

