
<div class="crop">
  <img src=<%= @event.photo %> style="width: 100%">
</div>
  
<h2>
  <%= @event.name %>
</h2>

<p>
  <%= @event.description %>
</p>

<p>
  <strong>Minimal age:</strong>
  <%= @event.minAge %>
</p>

<p>
  <strong>Tickets publishing:</strong>
  <%= @event.published %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<div>
  <div class="btn-add">
    <%= link_to 'Add ticket', new_admins_ticket_path(eventId: @event.id), class: 'btn btn-primary' %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Seat</th>
      <th>Price</th>
      <th colspan="3">User</th>
    </tr>
    <% @event.tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.seat_id, admins_ticket_path(ticket) %></td>
        <td><%= ticket.price %></td>
        <td>
          <% if !ticket.user.nil? %>
            <%= ticket.user.email %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admins_ticket_path(ticket), class: 'btn btn-outline-warning' %></td>
        <td><%= link_to 'Remove', admins_ticket_path(ticket), method: :delete, 
                            data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Edit event', edit_admins_event_path(@event), class: 'btn btn-outline-primary' %>
<%= link_to 'Remove', admins_event_path(@event), method: :delete, 
                    data:{ confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %>
<%= link_to 'Back', admins_events_path, class: 'btn btn-outline-warning' %>

