<h1>Active tickets</h1>

<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Seat</th>
    <th>Price</th>
    <th></th>
  </tr>
  <% @activeTickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.event.name, event_path(ticket.event) %></td>
      <td><%= ticket.seat_id %></td>
      <td><%= ticket.price %></td>
      <td><%= link_to 'Refund', users_return_ticket_path(ticket), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary'  %></td>
    </tr>
  <% end %>
</table>

<h1>Expired tickets</h1>

<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Seat</th>
    <th>Price</th>
  </tr>
  <% @expiredTickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.event.name, event_path(ticket.event) %></td>
      <td><%= ticket.seat_id %></td>
      <td><%= ticket.price %></td>
    </tr>
  <% end %>
</table>