<h1>Selected tickets</h1>

<%= form_tag( users_purchase_tickets_path, method: :post) do %>
  <table class="table table-striped">
    <tr>
      <th>Seat</th>
      <th colspan="2">Price</th>
    </tr>
    <% @selected_tickets.each do |ticket| %>
      <%= hidden_field_tag "selected_tickets[]", ticket.id %>
      <tr>
        <td><%= ticket.seat_id %></td>
        <td><%= ticket.price %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag("Buy") %>
<% end %> 