<nav class="navbar app-navbar navbar-expand-lg">
    
    <%= link_to 'Events', admins_events_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to 'Tickets', admins_tickets_path, class: 'btn navbar-btn app-navbar-button'  %>
            </li>    
            <li class="nav-item">
                <%= link_to 'Refunds', admins_refunds_path, class: 'btn navbar-btn app-navbar-button'  %>
            </li> 
            <li class="nav-item">
                <%= link_to 'Users', admins_users_path, class: 'btn navbar-btn app-navbar-button'  %>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'btn navbar-btn app-navbar-button'  %>
            </li>
        </ul>
    </div>
</nav>