<nav class="navbar app-navbar navbar-expand-lg">

    <%= link_to 'Events', events_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Tickets', users_tickets_path, class: 'btn navbar-btn app-navbar-button' %>
                </li>  
                <li class="nav-item">
                    <%= link_to 'My events', users_events_path, class: 'btn navbar-btn app-navbar-button' %>
                </li>     
            <% end %>    
        </ul>
        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn navbar-btn app-navbar-button' %>
                </li>
            <% else %>  
                <li class="nav-item">
                    <%= link_to 'Login', new_user_session_path, class: 'btn navbar-btn app-navbar-button' %>
                </li>
            <% end %>  
        </ul>
    </div>
</nav>
