<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-top">
        <%= render 'layouts/common_navbar' %>
    </div>
    <div class="app-content">
      <% if notice.present? %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>    
    </div>

  </body>
</html>
